<% include layout.ejs %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#reportTable').dataTable({
        "lengthMenu": [[-1, 20, 25, 50], ["All", 20, 25, 50, ]]
    });
});
</script>
<div class="banner">
        <div class="banner-inner">
            <h3>Report</h3>
            <p>在搜索框里，输入下“2013级 毕设”试试</p>

        </div>
</div>
<div class="container-fluid">
<div class="col-md-12">
<div class="section">
	<table id="reportTable"class="table table-striped table-hover" >
	<thead>
          <tr>
            <th>姓名</th>
            <th>年级</th>
            <th>时间段</th>
            <th>工作任务</th>
            <th>完成情况</th>
            <th>存在问题</th>
            <th>总体进展</th>
            <th>下次计划</th>
          </tr>
    </thead>
  <tbody>
  <% allreport.forEach(function(allreport){ %>
    <tr>
    <td width="60"><%= allreport.name%></td>
    <td width="60"><%= allreport.grade%></td>
    <td width="60"><%= allreport.time%></td>
    <td width="200"><li><%- allreport.report.task.replace(/\r\n/g,'<li>')%></td>
    <td width="200"><li><%- allreport.report.complete.replace(/\r\n/g,'<li>')%></td>
    <td width="200"><li><%- allreport.report.issue.replace(/\r\n/g,'<li>')%></td>
    <td width="80"><%= allreport.report.progress%></td>
    <td width="200"><li><%- allreport.report.plan.replace(/\r\n/g,'<li>')%></td>
    <%date = allreport.report.submittime;simpletime = date.getFullYear()+"-"+(date.getMonth() + 1)+"-"+date.getDate()+" "+date.getHours()+":"+(date.getMinutes() <10 ? '0'+date.getMinutes():date.getMinutes())+":"+(date.getSeconds() < 10?'0'+date.getSeconds():date.getSeconds());%>

	</tr>
  <% }) %>
  </tbody>
</table>
</div>
</div>
</div>
<% include inc/footer.ejs %>