
<div class="homebanner">
        <div class="banner-inner">
            <h3><%=user.name%>(<%=user.grade%>)</h3>
            <p>欢迎访问HINOC实验室周报系统！</p>

        </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div data-spy="affix" data-offset-top="200" class="bs-sidebar hidden-print affix-top">
				<ul class="nav bs-sidenav">
				<li><a href="#report">我的周报</a></li>
				<li><a href="#record">提交周报</a></li>
				</ul>
			</div>
		</div>

		<div class="col-md-9">

		<h3 id="report">我的周报</h3>
		<div class="panel-group" id="accordion">
		<% allreport.forEach(function(allreport){ %>

		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href=#<%= allreport.time.replace(/\([^\)]*\)/,'')%>>
		          <%= allreport.time%>
		        </a>
		      </h4>
		    </div>
		    <div id=<%= allreport.time.replace(/\([^\)]*\)/,'')%> class="panel-collapse collapse">
		      <div class="panel-body">
		      <table class="table table-bordered">
		        <tbody>
		          <tr>
		            <td width="80">工作任务</td>
		            <td><li><%- allreport.report.task.replace(/\r\n/g,'<li>')%></td>
		          </tr>
		          <tr>
		            <td>完成情况</td>
		            <td><li><%- allreport.report.complete.replace(/\r\n/g,'<li>')%></td>
		          </tr>
		          <tr>
		            <td>存在问题</td>
		            <td><li><%- allreport.report.task.replace(/\r\n/g,'<li>')%></td>
		          </tr>
		          <tr>
		            <td>总体进展</td>
		            <td><li><%- allreport.report.progress.replace(/\r\n/g,'<li>')%></td>
		          </tr>
		          <tr>
		            <td>下次计划</td>
		            <td><li><%- allreport.report.plan.replace(/\r\n/g,'<li>')%></td>
		          </tr>
		        </tbody>
		      </table>
		      </div>
		    </div>
		  </div>

		<% }) %>
		</div>

		<hr><h3 id="record">提交周报</h3><hr>
			<form method="post" action="/submit" >
	  <div class="row">
		<div class="col-md-4">
		  <h4>年级</h4>
		  <select name="grade" class="form-control">
		  	<option><%=user.grade%></option>
		  </select>
		</div>
		<div class="col-md-4">
		  <h4>姓名</h4>
		  <select name="name" class="form-control">
			<option><%=user.name%></option>
		  </select>
		</div>
		<div class="col-md-4">
		  <h4>汇报时间</h4>
		  <select name="time" class="form-control">
          <% timelist.forEach(function(time){ %>
		    <option ><%=time%></option>
		  <% }) %>
		  </select>
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-12">
		  <hr/>
		</div>
	  </div>
	  <div class="row">   
		<div class="col-md-6">
		  <h4>工作任务</h4>
		  <textarea name="task" rows="5" placeholder="这周你都干了什么？" class="form-control"></textarea>
		  <hr/>
		</div>
		<div class="col-md-6">
		  <h4>完成情况</h4>
		  <textarea name="complete" rows="5" placeholder="完成的怎么样了？" class="form-control"></textarea>
		  <hr/>
		</div>
		<div class="col-md-6">
		  <h4>存在问题说明</h4>
		  <textarea name="issue" rows="5" placeholder="遇到了什么问题？" class="form-control"></textarea>
		  <hr/>
		</div>
		<div class="col-md-6">
		  <h4>总体进展情况</h4>
		  <textarea name="progress" rows="5" placeholder="总体进展情况如何？" class="form-control"></textarea>
		  <hr/>
		</div>
		<div class="col-md-6">
		  <h4>下次计划</h4>
		  <textarea name="plan" rows="5" placeholder="下次计划？" class="form-control"></textarea>
		  <hr/>
		</div>
		
	  </div>
	  <div class="row">   
	  <div class="col-md-offset-5 col-md-2">
		  <button type="submit" class="btn btn-primary btn-lg btn-block">提交汇报</button>
		  <br>
	  </div>
	  </div>
  </form>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('body').scrollspy({ target: '.bs-sidebar' })
</script>